@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

$main-font: 'Lato', sans-serif;
$big-text: 3.5vw;
$white: #fff;
$blue: #244F75;
$light-blue: #60BFBF;
$purple: #8C4B7E;
$yellow: #F8BB44;
$red: #F24B4B;

$width: 20%;